<head>
    <title>Name Counter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body class="body_3">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="../css/greeting-with-hat-md.png" alt="Greetings" style="height:33px;"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active" title="Greeting home page."><a href="/">Home</a></li>
                <li><a href="/greeted" title="Display all greeted names.">Greeted</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="well">
            <div class="counterMsg">
                <p class="text-success">{{countMsg}}</p>
            </div>
        </div>
    </div>

</body>
