<head>
    <title>Name Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body class="body_3">

<div class="header">

    <h1 align="center">Name Counter</h1>

    <a href="/">Home</a> <br>
    <hr>
    <a href="/greeted">Names</a>

</div>

<div class="counterMsg" align='center'>
    <p class="p">{{countMsg}}</p>
</div>

</body>
