<head>

    <title>Names Greeted</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body class="body_2">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="css/greeting-with-hat-md.png" alt="Greetings" style="height:33px;"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active" title="Greeting home page."><a href="/">Home</a></li>
                <li><a href="/clear" title="Clear all greeted names in the database.">Clear</a></li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="list-group">
            {{#each namesGreeted}}
                <a href="/counter/{{this.id}}" class="list-group-item">{{this.name}}</a>
                {{else}}
                    <div class="well">
                        <p class="text-danger">Sorry, no names have been greeted. </p>
                    </div>
            {{/each}}

        </div>
    </div>

</body>
