<head>
    <title>Greeting | App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body class="body">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="css/greeting-with-hat-md.png" alt="Greetings" style="height:33px;"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/greeted" title="Display all greeted names.">Greeted</a></li>
                <li><a href="/clear" title="Clear all greeted names in the database.">Clear</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <div class="panel panel-defaul">
                <div class="panel-heading">
                    <h5> This is a simple Web Application using <strong>ExpressJS</strong> and <strong>MySql</strong> database with routes that allows you to greet different people using a HTTP GET route. It is in a web form that allows you to enter a name and when the Greet button is pressed display a greeting like this : Hello, 'THE NAME ENTERED'.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{#if messages.error}}
                    <div class="">
                        <p class="text-danger">{{messages.error}}</p>
                        <br>
                        <br>
                    </div>

                    {{/if}}

                    {{#if messages.success}}
                    <div class="success">
                        {{message.success}}
                        <br>
                        <br>
                    </div>
                    {{/if}}

                    <p class="text-info" style="font-size: 15px;">{{greeting}}</p>
                    <p class="text-success" style="font-size: 15px;">{{counts}}</p>
                </div>
                <form action="/" method="post">

                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="name"><b>Name:</b></label>
                            <input class="form-control" type="text" name="name" placeholder="Enter name" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-6">

                        <div class="form-inline">
                            <div class="form-group">
                                <label class="radio-inline">
                                <input type="radio" name="language"  value="Hello, " required>English</label>
                            </div>

                            <div class="form-group">
                                <label class="radio-inline">
                                <input type="radio" name="language" value="Dumela, " required>Setswana</label>
                            </div>

                            <div class="form-group">
                                <label class="radio-inline">
                                <input type="radio" name="language" value="Molo, " required>Xhosa</label>
                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                <input type="radio" name="language" value="Sawubona, " required>Zulu</label>
                            </div>
                            <button type="submit" class="btn btn-info btn-xs">Greet</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</body>
