body {
    background-image: url("chipmunks.jpg");
    background-attachment: fixed;
}

#user_input {
    width: 20%;
    height: 5%;
    font-size: inherit;
    color: blue;
    font-family: cursive;
}
label {
    width: 14%;
    height: 5%;
    font-size: inherit;
    color: #56a21f;
    font-family: cursive;
}
.greetBtn, .resetBtn {
    width: 14%;
    height: 5%;
    font-size: inherit;
    color: #12125d;
    font-family: cursive;
}

h1 {
    margin-top: 20;
}

form {
    width: 50%;
    border: 1px solid black;
    padding: 3%;
    margin-left: 20%;
    background-color: #FAEBD7;
}

.display {
    padding: 3%;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 100%;
    font-style: oblique;
    text-transform: capitalize;
    font-weight: bold;
}

#footer {
    color: blue;
}

hr {
    clear: both;
    visibility: hidden;
}
