.error {
    color: red;
}

.body {
    /*background-image: url("chipmunks.jpg");*/
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.body_2 {
    background-image: url('cat.jpg');
}

.body_3 {
    background-image: url('puppy.jpg');
}

footer {
    font-weight: bold;
    margin: inherit;
    padding: 1%;
    background-color: rgba(96, 125, 139, 0.26);
    text-decoration: blink;
    text-shadow: 1px 1px 8px #796DF2;
}

.header {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    padding: 2em;
    text-decoration: blink;
    text-shadow: 1px 1px 1px #cab624;
}

a {
    text-decoration: none;
}

.p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
}

.names {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    margin-left: 27em;
}
.home {
    margin-left: 34em;
}

#user_input {
    width: 20%;
    height: 5%;
    font-size: inherit;
    color: blue;
    font-family: cursive;
}


.greetBtn, .resetBtn {
    width: 14%;
    height: 5%;
    font-size: inherit;
    color: #12125d;
    font-family: cursive;
}

h1 {
    margin-top: 20;
}
.box {
    margin-left: 5%
}

#footer {
    color: blue;
}

hr {
    clear: both;
    visibility: hidden;
}
