<head>
    <title>Name Count</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<h1 align="center">....................</h1>

<p>Hello you have been greeted 10 times</p>
