<head>
    <title>Names Greeted</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
</head>
<a href="/greetings">Home</a>
<h1 align="center">Names greeted.</h1>

<ul align="center">
    <ol>

    </ol>

    {{#each namesGreeted}}
        <li>{{name}}</li>
    {{/each}}
</ul>

<p>{{views}}</p>
