
<h1 align="center">Greetings</h1>

<form action="/greetings/greet" method="post" align="center">

    <label for="name">Name:</label>
    <input type="text" name="name" value="">

    <input type="submit" value="Greet">
</form>
