<head>
    <title>Greeting | App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<h1 align="center">Greetings</h1>

<form action="greetings" method="post" align="center">

    <label for="name">Name:</label>
    <input type="text" name="name" value="" id="user_input">
    <!-- <input type="submit" value="Greet" class="greetBtn"> <br> -->
    <hr>

    <input type="radio" name="language" id="english" value="english">
    <label for="english">English</label>

    <input type="radio" name="language" id="setswana" value="setswana">
    <label for="setswana">Setswana</label>

    <input type="radio" name="language" id="zulu" value="zulu">
    <label for="zulu">Zulu</label>
    <hr>
    <input type="submit" value="greet" class="greetBtn">
    <input type="submit" value="reset" class="resetBtn"> <br>


        <p>{{greeting}}</p>

</form>
