body {
  background-image: url("chipmunks.jpg");
  background-attachment: fixed;
}

#greeting {
  color: black;
  font-size: 100px;
  padding: 5%;
}
.name {
  width: 30%;
  border: 1px solid black;
  padding: 3%;
  margin: auto;
  margin-top: -5%;
  background-color: #FAEBD7;
}

#show {
  padding: 3%;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 100%;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: bold;
}

#user_input {
	width: inherit;
}

#footer {
  color: blue;
}

hr {
    clear: both;
    visibility: hidden;
}
